<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar_li.png" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Tian Li</a></h1>
            <p>Life's a maze and love's a riddle.</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <!-- Start of StatCounter Code for Default Guide -->
              <div>
                <!-- Start of StatCounter Code for Default Guide -->
                <script type="text/javascript">
                var sc_project=10816975;
                var sc_invisible=0;
                var sc_security="336160fe";
                var scJsHost = (("https:" == document.location.protocol) ?
                "https://secure." : "http://www.");
                document.write("<sc"+"ript type='text/javascript' src='" +
                scJsHost+
                "statcounter.com/counter/counter.js'></"+"script>");
                </script>
                <noscript><div class="statcounter"><a title="web analytics"
                href="http://statcounter.com/" target="_blank"><img
                class="statcounter"
                src="http://c.statcounter.com/10816975/0/336160fe/0/"
                alt="web analytics"></a></div></noscript>
                <!-- End of StatCounter Code for Default Guide -->
              </div>
        </footer>
    </section>
